.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 20px;
  row-gap: 30px; /* 🔹 расстояние между строками */
  column-gap: 20px; /* 🔹 расстояние между колонками */
}
